.DS_Store
__pycache__
.idea
.ipynb_checkpoints/data_analysis-checkpoint.ipynb
data_analysis/.ipynb_checkpoints/crop_image-checkpoint.ipynb
data_analysis/.ipynb_checkpoints/data_analysis-checkpoint.ipynb
data_analysis/.~lock.train_evaluate_sets.csv#
